
<%# If set, send the user to the custom forgot password url from the settings UI %>
<%
  forgotPwURL = Setting.plugin_genboree_customizations['forgot_pw_url']
  if(forgotPwURL and forgotPwURL =~ /\S/)
%>
    <script type='text/javascript'>
      window.location.href = "<%= forgotPwURL %>"
    </script>
<%# Else use Redmine's default (probably won't work well for Genboree-integrated Redmine) %>
<% else %>
    <h2><%=l(:label_password_lost)%></h2>
    <%= form_tag(lost_password_path) { %>
      <div class="box tabular">
        <p>
          <label for="mail"><%=l(:field_mail)%> <span class="required">*</span></label>
          <%= text_field_tag 'mail', nil, :size => 40 %>
          <%= submit_tag l(:button_submit) %>
        </p>
      </div>
    <% } %>
<% end %>
