<div class="form-group">
  <div class="col-sm-12">
   <%= label_tag 'email', 'Email:' %>
  </div>
  <div class="col-sm-12">
    <%
      dataRemoteError = "This email id has been taken by another user."
      dataRemote = "#{@kbMount}/projects/#{@projectId}/genboree_profile_management/validate/email_id?"
      if(@loginDisabled == false)
        dataRemote << "context=new"
      else
        dataRemote << "context=update"
      end
    %>
      
    <%= email_field_tag 'email_id', @user_info["email_id"], { "class" => "form-control", "required" => true, "type" => "email", "data-remote-error" => dataRemoteError, "data-required-error" => "Please fill out these field.", "data-remote" => dataRemote }%>
    <div class="help-block with-errors"></div>  
  </div>
</div>
<div class="form-group">
  <div class="col-sm-12">
    <%= label_tag 'first_name', 'First Name (at least two characters, no hyphens):' %>
  </div>
  <div class="col-sm-12">
    <%= text_field_tag 'first_name' , @user_info["first_name"] ,  { "class" => "form-control", "required" => true, "data-minlength" => "2" } %>
    <div class="help-block with-errors"></div>  
  </div>
</div>
<div class="form-group">
  <div class="col-sm-12">
    <%= label_tag 'last_name', 'Last Name (at least two characters, no hyphens):' %>
  </div>
  <div class="col-sm-12">
    <%= text_field_tag 'last_name', @user_info["last_name"] ,{ "class" => "form-control", "required" => true, "data-minlength" => "2" } %>
    <div class="help-block with-errors"></div>  
  </div>
</div>
<div class="form-group">
  <div class="col-sm-12">
   <%= label_tag 'affiliation', 'Affiliation (optional): ' %>
  </div>
  <div class="col-sm-12">
   <%= text_field_tag 'affiliation', @user_info["affiliation"] , "class" => "form-control" %>
   <div class="help-block with-errors"></div> 
  </div>
</div>
<div class="form-group">
  <div class="col-sm-12">
   <%= label_tag 'phone', 'Phone (optional): ' %>
  </div>
  <div class="col-sm-12">
   <%= text_field_tag 'phone', @user_info["phone"] , "class" => "form-control" %>
   <div class="help-block with-errors"></div> 
  </div>
</div>
