<div class="form-group">
  <div class="col-sm-12">
    <% if(@updatePassword) %>
      <%= label_tag 'password', 'New Password (at least six characters):' %>
    <% else %>
      <%= label_tag 'password', 'Password (at least six characters):' %>
    <% end %>
  </div>
  <div class="col-sm-12">
    <%= password_field_tag 'password', "" , { "class" => "form-control", "required" => true, "data-minlength" => "6", "id" => "user_password" } %>
    <div class="help-block with-errors"></div>  
  </div>
</div>
<div class="form-group">
  <div class="col-sm-12">
    <% if(@updatePassword) %>
      <%= label_tag 'password-retype', 'Re-type New Password:' %>
    <% else %>
      <%= label_tag 'password-retype', 'Re-type Password:' %>
    <% end %>
  </div>
  <div class="col-sm-12">
    <%= password_field_tag 'password-retype', "" , { "class" => "form-control", "required" => true, "data-match" => "#user_password" } %>
    <div class="help-block with-errors"></div>  
  </div>
</div>
